.employees {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
}

.employees__list {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.employees__item {
  width: calc(30% - 10px);
  border: 1px solid #000;
  margin: 0 10px 10px 0;
  padding: 10px;
}

.employees__item strong {
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  display: block;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
}

.employees__item div {
  font-size: 18px;
  line-height: 24px;
}

.employees__birthday {
  width: 30%;
}

.active {
  color: blue;
}

.lds-ring {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #a6a2a2;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #a6a2a2 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
